<a class="back-button" href="<%= clubs_url %>">ALL CLUBS</a>

<header class="page-title"><%= @club.title %></header>
Creator: <a href="<%= user_url(@club.creator.id) %>"><%= @club.creator.name %></a>

<div class="filter-buttons">
    <%= button_to "ALL", club_filter_url(@club.id, {book_id: 0}), remote: true %>
<% @clubbooks.each do |book| %>
  <%= button_to book.title, club_filter_url(@club.id, {book_id: book.id}), remote: true %>
  <!-- <button><%= book.title %></button> -->
<% end %>
</div>

<% button_class = @is_current_user_member ? "follow" : "unfollow" %>
<ul class="<%= button_class %>">
  <li class="button-follow"><%= button_to "Follow", club_memberships_url(params[:id]) %></li>
  <li class="button-unfollow"><%= button_to "Unfollow", club_membership_url(params[:id]), method: :delete %></li>
</ul>



<% if current_user %>
	<header class="sub-title">New Post</header>
  <div class="new-post">
  	<%= render "posts/form_post", books: @clubbooks, club: @club  %>
  </div>
<% end %>


<header class="sub-title">Posts</header>
<div class="posts-list">
  <%= render "posts/list_posts", :posts => @posts, :club_page => "hide-tag" %>
</div>



<script>
$(document).ready(function (){
  // On successful comment creation
  $("div.filter-buttons").on("ajax:success", ".button_to", function (event, data) {
    event.preventDefault();
    $(".posts-list").html(data)
  });

});
</script>