<article class="group">

  <form action="<%= session_url %>" method="POST">
    <input type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">
    </input>

    <label id="email" >Email
    <input type="text" name="user[email]"></input>
    </label>
    <br>

    <label id="password">Password
    <input type="password" name="user[password]"></input>
    </label>
    <br>

    <input id="button" type="submit" value="Log In"></input>
  </form>

  <%= link_to "Request", request_url %>

</article>

<div class="trial-logins">
<%= button_to "Try App!", session_url(@book, {user: {email: "not@clone.com", password: "password"} }) %>
<!-- <%= button_to "Try App!", session_url(@book, {user: {email: "dummyRegular", password: "okayGO"} }) %> -->
</div>