<ul class="comment">
  <header class="post-header">
  <li class="comment-poster">
    <img src="<%= comment.user.image %>"></img>
    <a href="<%= user_url(comment.user_id) %>"><%= comment.user.name %></a></li>
  </header>
  <div class="post-contents">
    <li class="comment-body"><%= comment.body %></li>
  </div>
  <% comment.children_comments.find(:all, :order => "created_at DESC").each do |child| %>
    <%= render "comments/comment", comment: child %>
  <% end %>


  <li class="reply-button"><a href="#">Reply</a></li>

  <div class="reply-form hide-tag">
      <% if current_user %>
        <%= render "comments/form_comment", post: comment, parent_id: comment.id %>
      <% end %>
  </div>
  <div class="new-comment"></div>

</ul>