<% a_review = a_review || "" %>
<% a_post = a_post || "" %>
<% book_page = book_page || "" %>
<% club_page = club_page || "" %>


	<% posts.each do |post| %>
    <%=render partial: "posts/post", locals: {post: post} %>
	<% end %>

