/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 * require_tree .
 */

/* --- RESET --- */

html, body, header, footer, section, article, div,
strong, a, img, p, h1, h2, h3, time, ul, li, small, input, select {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* --- ELEMENTS --- */

body {
  font-family: Geneva;
  background: transparent;
  font-size: 16px;
  line-height: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #00f;
}

strong {
  font-weight: bold;
}

img {
  display: block;
}


/* --- UTILITIES --- */

.group:after {
  content: "";
  display: table;
  clear: both;
}

.admin {
  display: none;
}

.hide-tag {
  display: none;
}

.follow .button-follow, .unfollow .button-unfollow {
  display: none;
}

/* --- GLOBALS --- */

/*a {
  color: inherit;
}

a:visited {
  color:inherit;
}

a:hover {
  color:#C0C0C0;
}*/

#bground {
  background: #F0F0F0;
  color: #F5F5F5;
  position: fixed;
  left: -70px;
  top: -40px;
  height: 110%;
  width: 110%;
  z-index: -1;
  word-wrap: break-word;
  font-size: 240px;
  text-align: center;
  font-family:Courier;
}


/* --- NAV BAR --- */
nav {
  background: #FAF1D4;
  height: 50px;
  border-bottom: 1px solid #CC9933;
}

.site-nav {
  width: 900px;
  margin: auto;
  height: inherit;
}
.site-nav a {
  color: black;
}

.site-nav a:hover {
  color: #ccc;
}

.site-nav .button_to input {
  background: #CC9933;
  padding: 0px 4px;
  border-radius: 4px;
}

.site-nav .button_to input:hover {
  color: #ccc;
}

.site-nav > .static-elements {
  float:left;
}

.site-nav > .static-elements > a#logo {
  font-size: 30px;
  float:left;
  font-weight: 100;
  font-family: sans-serif;
  position: relative;
  margin: 5px 40px 0px 20px;
  color:inherit;
}

.site-nav > .static-elements > a#logo > strong {
  font-weight: 400;
}

.site-nav > .static-elements > a#logo > tag {
  position: absolute;
  color: red;
  font-size: 20px;
  right: -20px;
  bottom: -10px;
}

.site-nav > .static-elements > #search-box {
  float:left;
  background: white;
  border-radius: 4px;
  margin: 12px 10px 0px 10px;
  width: 140px;
  font-size: 15px;
  padding:4px;
}

.site-nav > .static-elements > .site-links {
  float:right;
}

.site-nav > .static-elements > .site-links > li{
  float:left;
  margin: 15px 10px 0px 10px;
}

.site-nav > .user-links {
  float: right;
}

.site-nav > .user-links li {
  float: left;
  margin: 15px 10px 0px 10px;
}

.site-nav > .user-links > #notification {
  background: #CC9933;
  padding: 0px 4px;
  border-radius: 4px;
}

.site-nav > .user-links > #username {
  background: #CC9933;
  padding: 0px 4px;
  border-radius: 4px;
}


.site-nav > .user-links > #log-botton {
  background: #CC9933;
  padding: 0px 4px;
  border-radius: 4px;
}


/* --- FOOTER --- */
body > footer {
  width: 900px;
  height: 30px;
  margin: auto;
  background: white;
  border: 1px solid #CC9933;
  border-top: 0;
}

body > footer .copy {
  float: left;
  color: #ccc;
  padding: 5px 0px 0px 20px;
}

body > footer a.github {
  float: right;
  color: #ccc;
  padding: 5px 20px 0px 0px;
}

/* --- MAIN --- */

#flash-errors, .errors{
  background: red;
  margin: auto;
  text-align: center;

}

#main {
  width: 820px;
  padding: 20px 40px;
  min-height: 600px;
  margin: auto;
  background: white;
  border: 1px solid #CC9933;
  border-top: 0;
}

#main a {
  color: green;
}

#main a:hover {
  color: #ccc;
}

#main input[type="submit"] {
  border: 1px solid #CC9933;
  display: inline;
  background: #CC9933;
  padding: 0px 4px;
  border-radius: 4px;
  margin-bottom: 20px;
}
#main input[type="submit"]:hover {
  border: 1px solid #CC9933;
  background: #33CC66;
}

textarea {
  background: #FAF1D4;
  padding: 4px 4px;
  border: 1px solid #CC9933;
  border-radius: 4px;
  margin-bottom: 20px;
  height: 30px;
}


select {
  background: #FAF1D4;
}

.back-button {
  float: right;
  padding: 2px 4px;
  border: 1px solid #CC9933;
  border-radius: 4px;
  z-index: 2;
}
.page-title {
  display: block;
  font-size: 30px;
  color: #CC9933;
  padding: 20px 30px;
  margin-bottom: 10px;
  border-bottom: 1px solid #CC9933;
}

.sub-title {
  display: block;
  font-size: 18px;
  color: #CC9933;
  padding: 20px 30px 10px 30px;
  margin-bottom: 30px;

  border-bottom: 1px dashed #CC9933;
}
.page-left {
  float: left;
  width: 60%;
  height: auto;
}

.page-right {
  float: right;
  text-align:left;
  width: 35%;
  height: auto;
  padding: 10px;
  padding-top: 0px;
  background: #FAF1D4;
}

.page-left table {
  border-collapse:collapse;
  width: 100%;
}

th{
  background: #CC9933;
}

tr:nth-child(odd) {
  background-color: #FAF1D4;
}

td, th {
  width: 40%;
  text-align: right;
  padding-right: 30px;
}

th:nth-child(even), td:nth-child(even) {
  width: 60%;
  text-align: left;
}

.page-left .books-list td, .page-left .users-list th {
  width: 60%;
}

.page-left .books-list th:nth-child(even),
.page-left .users-list td:nth-child(even) {
  width: 40%;
}


/*---- DISPLAY ----*/
.display{
}

.display ul {
}

.display li {
  float: left;
  width: 142px;
  padding: 10px;
  font-size: 10px;
  height: 250px;
}

.display .book img {
  width: 142px;
}

/*---- POSTS ----*/
.post {
  width: 90%;
  margin-bottom: 30px;
  border: 1px solid #FAF1D4;
}

.post .post-header{
  height: 50px;
  border-bottom: 1px solid #FAF1D4;
  background: #f7eabd;
}

.post .post-contents{
}

.post .post-header .post-date{
  float:right;
  margin-top: 20px;
  margin-right: 20px;
}

.post .post-header .poster{
  float:left;
  font-size: 20px;
}

.post .post-header .poster img {
  float: left;
  width: 50px;
}

.post .post-header .poster a {
  float: right;
  margin-top: 15px;
  margin-left: 10px;
}


.post .post-contents .post-body{
  margin: 10px 20px;
}

.post .post-footer{
  border-top: 1px solid #FAF1D4;
  height: 27px;
}


.post .post-footer .book-title{
  float:left;
  margin-left: 20px;
}


.post .post-footer .club-title{
  float:left;
  margin-left: 20px;
}

.post .post-footer .comment-button{
  float:right;
  margin-right: 20px;
}

.post .post-comments {
  border: 1px solid #FAF1D4;
  background: #F8F8F8;
  width: 75%;
  margin-left: 182px;
}

.post .post-comments .comments-list {
  padding: 5px 15px 5px 0px;
}

.post .post-comments .comment-form {
  background: #DFDFDF;
  padding: 5px 15px 0px 0px;
}

.post .post-comments textarea {
  margin-left: 10px;
  margin-bottom: 0;
  width: 97%;
  height: 20px;
}

.post .post-comments input[type="submit"] {
  margin-left: 10px;
}
/*#main  {
  border: 1px solid #CC9933;

  background: #CC9933;
  padding: 0px 4px;
  border-radius: 4px;
  margin-bottom: 20px;
}*/


/*---- COMMENTS ----*/

.comment {
  border: 1px dashed #CC9933;
  margin: 10px 20px;
  margin-right: 0px;
  background: white;
}

.comment .post-header {
  height: 30px;
}

.comment .comment-body{
  padding-left: 10px;
}

.comment .comment-poster{
  float:left;
  margin: 0px 5px;
  margin-top: 5px;
}

.comment .comment-poster img {
  float: left;
  width: 25px;
}

.comment .comment-poster a {
  float: right;
  margin-top: 5px;
  margin-left: 5px;
}

/*---- POST FORM ----*/
.review-form{
  width: 50%;
}

.review-form textarea, .post-form textarea {
  margin-left: 10px;
  margin-bottom: 0;
  width: 97%;
  height: 50px;
}

.post-form input[type="submit"], .review-form input[type="submit"] {
  margin-left: 10px;
}
.post-form .post-book{
  margin-left: 10px;
  display: block;
  margin-bottom: 10px;
}

/*


nav li input {
  background: #04B45F;
  color:white;
}

.back-button {
  display: block;
  border: 2px dashed green;
}

input:hover {
  color: #C0C0C0;
}

#main {
  width: 800px;
  margin: auto;
  margin-top: 100px;
}


header.page-title {
  background: red;
  display: block;
  font-size: 30px;
}

header.sub-title {
  background: green;
  display: block;
  font-size: 20px;
}









.follow .button-follow, .unfollow .button-unfollow {
  display: none;
}

*/
/*
input {
	color: green;
}

nav > #username, nav > #logout-botton{
	float:right;
	margin-left: 20px;
}





nav div input {
  background: #04B45F;
  color: #C0C0C0;
  border: none;
  height: 34px;
}

nav div input:hover {
  color: white;
}


#logout-botton input {
	padding: 0px;
	height: 44px;
}	*/
	/*




th {
	text-align: left;
	background: red;
}





input {
	background: #FFFFAF;
	border-radius: 9px;
	margin: 100px, 1000px;
	border: 1px solid grey;
	padding: 10px;

}

label > input {
	background: #F0FFCF;
	border-radius: 9px;
	margin: 100px, 1000px;
	border: 1px solid grey;
	padding: 0px;
}*/