// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.book-image input[type="submit"] {
  float:left;
  margin: 0px 8px;
}

.is-wish input[type="submit"]{
  margin-left: 4px;
}
.is-none, .is-wish, .is-like, .is-dislike {
  margin-left: 4px
}


.is-none > #unlike, .is-none > #undislike,
.is-none > #unwish {
	display: none;
}

.is-wish > #unlike, .is-wish > #undislike,
.is-wish > #wish {
	display: none;
}

.is-like > #like, .is-like > #undislike,
.is-like > #unwish, .is-like > #wish {
	display: none;
}

.is-dislike > #unlike, .is-dislike > #dislike,
.is-dislike > #unwish, .is-dislike > #wish {
	display: none;
}

.is-like > #unlike input[type="submit"], .is-dislike > #undislike input[type="submit"],
.is-wish > #unwish input[type="submit"] {
  background: #33CC66;
}

.is-reviewed > #wish, .is-reviewed > #unwish {
  display: none;
}

img.cover {
	float: left;
	padding: 10px;
  width: 280px;
}

//.group ul {
//  height: 30px;
//}
//
//.group li {
//  float: left;
//  margin: 20px;
//}
//
//.group input {
//  background: #F5ECCE;
//  border: 2px solid black;
//  padding: 10px;
//}
//
//.group:after {
//  content: "";
//  display: table;
//  clear:both;
//};

.book-description {
  float:right;
  width: 60%;
  padding: 0px 10px;
  height: 480px;
  overflow:auto;
}


.book-description .author{
  padding: 40px 0px 20px 0px;
  font-size: 20px;
}


.display{
}

.page-right {
  height: 260px;
}

.book-image {
  float: left;
}


