<nav class="group">
  <header class="site-nav">
    <div class="static-elements">
  		<a id="logo" href="<%= root_url %>">good<strong>reads</strong><tag>clone</tag></a>
      <input id="search-box" type="text"></input>
  		<ul class="site-links">
  			<li>
  				<a href="<%= users_url %>">Users</a>
  			</li>
  			<li>
  				<a href="<%= books_url %>">Books</a>
  			</li>
  			<li>
  				<a href="<%= clubs_url %>">Clubs</a>
  			</li>
      </ul>
    </div>
    <ul class="user-links">
      <% if current_user %>
  			<% if is_admin?(current_user)%>
        <!-- <li>
          <a id="admin-panel" href="<%= home_admin_url %>">ADMIN</a>
        </li> -->
  			<% end %>
  			<li id="username">
  				<a href="<%= user_url(current_user) %>"><%= current_user.name %></a>
  			</li>
  			<li id="notification">
  				<a href="<%= notifications_url %>">N</a>
  			</li>
  			<li id="log-botton">
  				<%= button_to "Log Out", session_url, method: :delete %>
  			</li>
  		<% else %>
  			<li id="log-botton">
  				<a href="<%= new_session_url %>">Log In</a>
  			</li>
      <% end %>
  	</ul>
  </header>
</nav>